// put your custom CSS here!
a {
    font-weight: 600;
    text-decoration: none;
    transition: color 0.2s ease;
    color: var(--secondary);
  
    &:hover {
      color: var(--tertiary) !important;
    }
  
    &.internal {
      text-decoration: none;
      background-color: transparent;
      padding: 0 0.1rem;
      border-radius: 5px;
    }
  }